/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '~bootstrap/dist/css/bootstrap.css';
@import '~react-circular-progressbar/dist/styles.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500&display=swap');
body {
  position: relative;
  color: #333;
  height: 100vh;
  width: 97.5vw;
  background-color: #fefefe;
  font-family: Arial, Helvetica, Helvetica Neue, serif;
  overflow-y: hidden;
}

.cursor {
  cursor: pointer !important;
}

.no-cursor {
  cursor: 'none';
}


.CircularProgressbar .CircularProgressbar-text {
  fill: #333;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.navbar {
  background-color: #fefefe !important;
}

body p {
  font-family: 'Comfortaa', cursive;
}

body div {
  font-family: 'Comfortaa', cursive;
}


button:focus {outline:0 !important;}
